{:objects
 {:Student
  {:description "Student object"
   :fields
   {:id   {:type (non-null Int) :description "Student id"}
    :name {:type (non-null String)}
    :age  {:type (non-null String)}}}
  :Course
  {:description "Course object"
   :fields
   {:id   {:type (non-null Int) :description "Course id"}
    :name {:type (non-null String)}}}
  :Registration
  {:description "Registration object"
   :fields
   {:id      {:type (non-null Int) :description "Registration id"}
    :score   {:type (non-null Int)}
    :course {:type (non-null :Course)
             :resolve :get/course}
    :student {:type (non-null :Student)
              :resolve :get/student}}}}
 :queries
 {:course
  {:type        :Course
   :description "Get course by id."
   :args        {:id {:type ID}}
   :resolve     :get/course}

  :student
  {:type        :Student
   :description "Get student by id."
   :args        {:id {:type ID}}
   :resolve     :get/student}

  :registration
  {:type        :Registration
   :description "Get registration by id."
   :args        {:id {:type ID}}
   :resolve     :get/registration}}}
